* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#c1 {
  aspect-ratio: 1 / 1;
  height: 80%;
  /* width: 80%; */
  border: 2px solid black;
}

#info-left {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  line-height: 1.4rem;
}

#info-right {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  line-height: 1.4rem;
}
